/* style2.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #232F3E;
    color: #FFFFFF;
    padding: 10px 15px;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    width: 50px;
    border-radius: 20%;
}

.navbar-search input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#btn {
    padding: 8px;
    background-color: #07208f;
    border: none;
    border-radius: 4px;
    color: #232F3E;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 15px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.language-option select {
    padding: 8px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.language-option select option {
    background-color: #232F3E;
    color: #FFFFFF;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #232F3E;
}

.container {
    width: calc(16.666% - 20px);
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;

}

.container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#fetchButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0366D6;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
